

body {

font-size: 100%;

}


.btn-danger:hover {
  box-shadow: 20 10 15px black;
  border: 5px solid black;
}


#image2 {
  width: 100%;
}

.carousel-inner img{
  /*opacity: .8;*/
  background-size: cover;
}


.btn-danger {
   position: fixed;
  top: 600px;
  left: 400px;
  width: 25%;
}

.heading {
  font-size: 4.375em;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0 0 15px black;
  position: fixed;
  top: 50px;
}


.centered {
  text-align: center;
}

.wrapper {
  width: 100%;
  padding: 30px 0;
}

ul.rig {
  list-style: none;
  font-size: 0px;
  margin-left: -2.5%;}

ul.rig li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 2.5%;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul.rig li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}

ul.rig li h3 {
  margin: 0 0 5px;
}

ul.rig li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}

ul.rig.columns-4 li {
  width: 22.5%;
}


/***********************MEDIA QUERY*********************************/
@media screen and (max-width: 740px)
{
  
  .heading {
    font-size: 5em;
  }
}
